body {
    background-color: #222a5e;
}

.field {
    border: black 2px solid;
    margin: 50px auto;
}

span {
    color: whitesmoke;
    width: max-content;
    font-size: 20px;
    font-family: Lucida Console;
}

.info-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 20px;
    align-items: center;
    text-align: center;
}

.info-board.two {
    grid-template-columns: repeat(2, 1fr);
}