body {
    background-color: #222a5e;
    font-family: Lucida Console;
}

.field {
    border: black 2px solid;
    margin: 50px auto;
}

span {
    color: whitesmoke;
    width: max-content;
    font-size: 20px;

}

.info-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 20px;
    align-items: center;
    text-align: center;
}

.info-board.two {
    grid-template-columns: repeat(2, 1fr);
}

select, input {
    height: 28px;
    padding: 0 12px 0 10px;
    background: black;
    color: whitesmoke;
    border: 1px solid #1900fd;
    border-radius: 10px;
    font-family: Lucida Console;
}

select {
    width: 110px;
}

input {
    width: 70px;
}

select:hover, input:hover {
    box-shadow: 0 0 3px whitesmoke;
}


